<footer class="footer">
    <div class="content has-text-centered">
        <div class="container has-text-centered">
        <figure class="image is-64x64 is-inline-block">
            <img src="/images/peekingWizardline.png">
          </figure>
        </div>
        <p>
            <strong>Closet Wizard</strong> was created by <a href="https://cassiechampagne.me">Cassie Champagne</a>. <br>She hopes it will help her spend less time in her closet so she has more time for other things.
        </p>
    </div>
</footer>