<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Closet Wizard</strong> was created by <a href="https://cassiechampagne.me">Cassie Champagne</a>. <br>She hopes it will help her spend less time in her closet so she has more time for other things.
        </p>
    </div>
</footer>