 <section class="section">
    <div class="container">
        <h1 class="title">Welcome to your virtual closet, <%=name%>!</h1>
        <h2 class="subtitle">To get started, try uploading some photos.</h2>
      </div>
</section>
