 <section class="section">
  <article class="media">
     <figure class="image is-128x128 media-left">
        <img src="/images/logo1.png"/>
      </figure>
    <div class="media-content">
      <div class="content">
        <h1 class="title">Welcome to your virtual closet, <%=name%>!</h1>
        <h2 class="subtitle">Upload some photos and let's make some magic happen.</h2>
      </div>
    </div>
  </article>   
</section>
