<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %> 
  </head>
  <body>
      
  <section class="section">
    <div class="container has-text-centered">
        <figure class="errorLogo">
            <img src="/images/errorWizard.png"/>
        </figure>
        <h1 class="title">
          Hmm, something went wrong.
        </h1>
        <p class="subtitle">Maybe it's time for a spring cleaning?</p>
        <a class="button is-link" href="/">Return to Sign-In Page</a>
    </div>
  </section>

  <%- include ('partials/footer.ejs') %> 
  </body>
</html>