<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %> 
  </head>
  <body>
      
  <section class="section">
    <div class="container has-text-centered">
        <figure class="image is-128x128 homeLogo is-inline-block">
            <img src="/images/logo1.png"/>
        </figure>
        <h1 class="title">
          Hi, I'm Closet Wizard.
        </h1>
        <p class="subtitle">I'm here to make managing your closet magical.</p>
        <a class="button is-link" href="/auth/google">Log-in with Google</a>
    </div>
  </section>
  <section>
    <!-- <div class="container has-text-centered"> -->
    <div class="columns has-text-centered">
      <div class="column">
        <div class="tile is-ancestor">
        <div class="tile is-vertical is-parent">
          <div class="tile is-child box notification is-danger">
            <p class="title">What I do:</p>
            <div class="content">
              <p>I make managing your wardrobe easy by taking your images and turning them into an easy to navigate virtual closet.<br> Then I can help you combine those images into snazzy outfits.</p>
            </div>
          </div>
          <div class="tile is-child box">
            <p class="title"></p>
            <figure class="image is-5by4 mx-5 my-5">
              <img src="/images/closetFront.png">
            </figure>
          </div>
          </div>
        </div>
      </div>
      
     
        <div class="column">
          <div class="tile is-ancestor">
          <div class="tile is-parent is is-vertical">
            <div class="tile is-child box notification is-info">
              <p class="title">Some ways I can help you:</p>
              <div class="content">
              
                  <p>Pre-plan your outfits for the whole week.</p>
                  <p>Save outfit ideas for special events.</p>
                  <p>Shopping online?  Grab an item's image link and let me work my magic with it. <br><i>Let's find a shirt to go with those pants...</i></p>
                
            </div>
            </div>
            <div class="tile is-child box">
              <p class="title"></p>
              <figure class="image is-5by4 mx-5 my-5">
                <img src="/images/clothingCollage.png">
              </figure>
            </div>
          </div>
          </div>
        </div>
        
    <!-- <div class="tile is-ancestor">
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box notification is-danger is-12">
          <p class="title">What I do:</p>
          <div class="content">
            <p>I make managing your wardrobe easy by taking your images and turning them into an easy to navigate virtual closet.<br> Then I can help you combine those images into snazzy outfits.</p>
          </div>
        </div>
        <div class="tile is-child box">
          <p class="title"></p>
          <figure>
            <img src="/images/closetFront.png">
          </figure>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box notification is-info is-8">
          <p class="title">Some ways I can help you:</p>
          <div class="content">
            <ul>
              <li>Pre-plan your outfits for the whole week.</li>
              <li>Save outfit ideas for special events.</li>
              <li>Shopping online?  Grab an item's image link and let me work my magic with it. <i>Let's find a shirt to go with those pants...</i></li>
            </ul>
        </div>
        </div>
      </div>
    </div> -->
  </div>
  </section>

  <%- include ('partials/footer.ejs') %> 
  </body>
</html>