<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Closet Wizard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/public/styles/style.css">
  </head>
  <body>
    <!-- <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="/images/smallCWlogo.png">
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>
    
          <a class="navbar-item">
            Documentation
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-info">
                <strong>About</strong>
              </a>
              <a class="button is-link" href="/auth/google">Log-in with Google</a>
            </div>
          </div>
        </div>
      </div>
    </nav> -->
      
  <section class="section">
    <div class="container has-text-centered">
        <figure class="image is-128x128 homeLogo is-inline-block">
            <img src="/images/logo1.png"/>
        </figure>
        <h1 class="title">
          Hi, I'm Closet Wizard.
        </h1>
        <p class="subtitle">I'm here to make managing your closet magical.</p>
        <a class="button is-link" href="/auth/google">Log-in with Google</a>
    </div>
  </section>
  <section>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child box">
              <figure class="image is-2by1">
                <img src="/images/phShoe.jpg"/>
              </figure>
              <figure class="image is-2by1">
                <img src="/images/phShoe.jpg"/>
              </figure>
            </article>
            <article class="tile is-child box">
              <figure class="image">
                <img src="/images/phShoe.jpg"/>
              </figure>
              <figure class="image">
                <img src="/images/phShoe.jpg"/>
              </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <figure class="image is-square">
                <img src="/images/phShirt.jpg"/>
              </figure>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <figure class="image is-128x128">
              <img src="/images/phShirt.jpg"/>
            </figure>
            <figure class="image is-128x128">
              <img src="/images/phShirt.jpg"/>
          </article>
          </figure>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-1by3">
            <img src="/images/phOutfit.jpg"/>
          </figure>
        </article>
      </div>
    </div>
  </section>
  <section>Footer</section>
  </body>
</html>